<fieldset>
	<div class="row">
		<!--[form:preference]-->
<div class="form-element" style="background: #DAFFCD;">
  <label for="preference_bookmarks_per_page">Bookmarks per page</label>
  <%= text_field 'preference', 'bookmarks_per_page'  %>
</div>

<div class="form-element" style="background: #DAFFCD;">
  <label for="preference_tags_in_cloud">Tags in cloud (0 to show all)</label>
  <%= text_field 'preference', 'tags_in_cloud'  %>
</div>

<!--[eoform:preference]-->

	</div>
</fieldset>
